nav {
    text-align: left;
    color: #16a085;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    word-spacing: 65px; 
    font-weight: bold;
    
}

div {
    padding: 0px 332px 32px 332px;
    text-decoration: none;
    margin-left: 20%;
}
h1 {
    text-align: center;
    color:#373737;
    font-size: 22px;
    text-transform: uppercase;
    padding: 50px;
    background-color: rgb(245, 246, 247);
    margin: 0;
}
.text1{
    text-align: center;
    color: rgb(55, 55, 55);
    background-color: rgb(245, 246, 247);
    background

}
button {
    background-color: #16a085;
    width: 192px;
    height: 51px;
    text-transform: uppercase;
    border-radius: 3px;
    border-color: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 20px;
}